
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a [routerLink]="'/authenticate'">Log In!</a></span>
				</div>

				<!-- Account Type -->
				<!-- <div class="account-type">
					<div>
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
					</div>

					<div>
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
					</div>
				</div>
					 -->
				<!-- Form -->
				<form method="post" id="register-account-form">
					<div class="input-with-icon-left">
						<i class="icon-feather-bar-chart-2"></i>
						<input type="text" class="input-text with-border" name="firstname" id="firstname" placeholder="Firstname"  [(ngModel)]="user.firstname"  required />
					</div>
					<div class="input-with-icon-left">
						<i class="icon-feather-bar-chart-2"></i>
						<input type="text" class="input-text with-border" name="firstname" id="lastname" placeholder="Lastname" [(ngModel)]="user.lastname" required />
					</div>
					<div class="input-with-icon-left">
						<i class="icon-material-outline-arrow-right-alt"></i>
						<input type="text" class="input-text with-border" name="username" id="username" placeholder="Username"  [(ngModel)]="user.username" required/>
					</div>
					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" required/>
					</div>
					
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="email" id="email" placeholder="Email Address" [(ngModel)]="user.email" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="phone" id="phone" placeholder="Phone Number" [(ngModel)]="user.phone" required/>
					</div>

					

				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" (click)="register()"  form="login-form">Sign Up ! <i class="icon-material-outline-arrow-right-alt"></i></button>
				
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" (click)="goToVerify()" form="login-form">Verify <i class="icon-material-outline-arrow-right-alt"></i></button>
				<h3 style="font-size: 26px;"> <p> {{ipAddress}} </p> </h3>
				
				

				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>