<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Email Verification</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>VERIFY ;) </li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<!-- Page Content
================================================== -->

<div class="login-box" ngNativeValidate>
    <h2>Verify you email</h2>
    <form>
      <div class="user-box">
        
        <label>
          GuessWhoDidIt ^^
        </label>
      </div>
				<br>
        <br>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Exit
        <br>
      </a>
      <a href="#" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button  (click)="activateAccount()"  form="login-form">Verify <i class="icon-material-outline-arrow-right-alt"></i></button>
				
        
      </a>
    </form>
  </div>
  
  <!-- site signature 
    <div class='icon-credits'>made by GUESSWHO<a href="https://hubblesite.org" title="WHOSTHERE">NONE1915</a><a href="https://hubblesite.org" title="Flaticon">https://hubblesite.org</a> is licensed by NONECOMPANY<a href="http://esprit.tn" title="websiteurl"></a></div>
================================================== -->
   
   <br><br><br><br><br><br><br><br><br><br><br><br>