<div class="dashboard-content-inner" >
			
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Post a Job</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Intent</li>
            </ul>
        </nav>
    </div>

    <!-- Row -->
    <div class="row">
		<form  [formGroup]="DocForm" (ngSubmit)="submit()" >

        <!-- Dashboard Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-feather-folder-plus"></i>  Form</h3>
                </div>

                <div class="content with-padding padding-bottom-10">
                    <div class="row">

                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Title</h5>
                                <input type="text" class="with-border" formControlName="tag"/>
                            </div>
                        </div>
                    
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Context</h5>
                                <input type="text" class="with-border"  formControlName = "context"/>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Patterns</h5>
                                <tag-input 
                                formControlName = "patterns"
                                [modelAsStrings]="true"
                               >
                             </tag-input>
                           </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Responses</h5>
                                <tag-input 
                                formControlName = "responses"
                                [modelAsStrings]="true"
                                >
                             </tag-input>
                           </div>
                        </div>
                 

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <button type="submit" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post </button>
        </div>
        </form>

    </div>
    <!-- Row / End -->

    <!-- Footer -->
    <div class="dashboard-footer-spacer"></div>
    <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
            © 2018 <strong>Hireo</strong>. All Rights Reserved.
        </div>
        <ul class="footer-social-links">
            <li>
                <a href="#" title="Facebook" data-tippy-placement="top">
                    <i class="icon-brand-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Twitter" data-tippy-placement="top">
                    <i class="icon-brand-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Google Plus" data-tippy-placement="top">
                    <i class="icon-brand-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#" title="LinkedIn" data-tippy-placement="top">
                    <i class="icon-brand-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Footer / End -->

</div>